.footer{
  padding: 100px 0  ;
  &__row{
    display: flex;
    margin-bottom: 70px;
    column-gap: 200px ;
  }
  &__center{
    position: relative;
  }
  &__title{
    font-size: 18px;
    margin-bottom: 18px;
    font-weight: 300;
  }
  &__item{
    cursor: pointer;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 18px;
    a{
      color: #768694;
    }
  }
  &__qrs{
    width: 50px;
    height: 50px;
  }
  &__qr{
    border: 70px solid #f1f4f9;
    border-radius: 10px;
  }
  &__code {
    background-image: url("https://i.hh.ru/webpackBuild/f9470e21fe8b62ba028e.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -14%;
    left: 55%;
    transform: translate(-70%);
  }
  &__inputs{
    margin-bottom: 50px;
  }
  &__input{
    display: inline;
    cursor: pointer;
    font-size: 15px;
    color: #768694;
    margin-right: 30px;
    a{
      color: #768694;
    }
  }
  &__line{
    padding-bottom: 30px;
  }
  &__desc{
    display: inline;
    margin-right: 30px;
    font-size: 15px;
  }
  &__span{
    background-image: url("https://i.hh.ru/webpackBuild/1154ab4b63b3f68e576c.svg");
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 14px;
    margin-left: 8px;
    background-repeat: no-repeat;
  }
}