*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
  list-style-type: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
.container{
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
}
@import "header";
@import "home";
@import "footer";
<<<<<<< HEAD
@import "register";
=======
@import "help";
>>>>>>> 64ccbef7e1a8c8eb5584e465e43474d3d8bf62d5
